doctype html
html
  head
    meta(charset = 'utf-8')
  body
    form(action='/login' method = 'post')
      p
        input(type = 'text' name = 'user_id')
      p
        input(type = 'password' name = 'user_pwd')
      p
        input(type = 'submit')
    form(action='/lms/data' method = 'post')
      p
        input(type = 'text' name = 'user_id')
      p
        input(type = 'password' name = 'user_pwd')
      p
        input(type = 'submit')
